#nav-sm {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

#nav-sm>* {
    margin: auto;
}

.nav-sm-link {
    color: #00221D !important;
}

.sticky li.active.nav-sm-link {
    color: white !important;
}

li.active,
.nav-link:hover {
    transition: 1s all ease-in;
    color: #00221D;
    font-weight: bold;
}

header {
    position: relative;
}


nav.sticky {

    transition: 0.1s border;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav.sticky li.active,
nav.sticky .nav-link:hover {
    color: white;
    background-color: #FF7D05;
    padding: 10px;
    border-radius: 10px;
}

nav.sticky li {
    color: white;
}

.shape {
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #00221D;
    border-bottom: 3px solid #00221D;

}

.left-shape {
    left: 0;
}



#nav-sm li.active {
    transition: none;
    width: max-content;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
}